body{
    font-family:arial,sans-serif;
    margin:0;
    padding:0;
}
header{
    background:navy;
    color:white;
    padding:20px;
    display: flex;

}
h1{
    text-align:right;
}

img{ 
    border-radius: 60%;
    border: 10px
 
    

}
section{
    padding:20px;
    justify-content:center;
}
footer{
    background:black;
    color:white;
    text-align:center;
    padding:10px;
}